<%= form_tag(controller: "interact", action: "window2", method: "post") do %>
	<%= text_area_tag :text_input ,"", class: "text_input" %>
	<div><%= submit_tag("Submit") %></div>
<% end %>

<style type="text/css">
	.text_input {
		width: 600px;
		height: 400px;
	}

</style>

<script type="text/javascript">
	
	$("#import_text").click(function function_name(argument) {
		
	});
</script>