window 2

<%= form_tag(controller: "interact", action: "box_interact", method: "post") do %>
	<textarea class="text_input" name="text_input"><% @text_array_numbered.each do |text_point|%>
<%=text_point%><% end %></textarea>
	<div><%= submit_tag("Interact") %></div>
<% end %>
<div>
</div>

<style type="text/css">
	.text_input {
		width: 600px;
		height: 400px;
	}
</style>